{:paths ["bb"]
 :deps  {babashka/process     		 	           {:mvn/version "0.3.11"}
         clojure-term-colors/clojure-term-colors  {:mvn/version "0.1.0"}
         ;io.github.babashka/instaparse.bb         {:git/sha "0e86a09bafead57eed251cbda53ab35032688bdf"}
         ;io.github.clj-kondo/clj-kondo-bb         {:git/tag "v2023.01.20" 
         ;                                          :git/sha "adfc7df"}
         clockworksIO/clci                        {:git/url "https://github.com/ClockworksIO/clci.git"
                                                   :git/tag "0.3.2" 
                                                   :git/sha "7d4413d2b2f681325f0daffb8cd8ff9e92abcabd"}
}


 :tasks {hooks  	{:doc         "Git hook related commands."
                 	 :requires    ([git-hooks :as gh])
                 	 :task        (apply gh/hooks *command-line-args*)}
         format   {:doc         "Run the formatter to format the project's clojure code."
                   :requires    ([format :as fmt])
                   :task        (apply fmt/format-code *command-line-args*)}
         lint     {:doc         "Run kondo to lint the code. Fail on errors."
                   :requires    ([utils :as u])
                   :task        u/kondo-lint}
         new      {:doc         "Create a new project using the boilerplate."
                   :requires    ([boiler :as boiler])
                   :task        (apply boiler/new *command-line-args*)}
         }}